@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  width: 1600px;
}

.wrap {
  width: 1110px;
}

.header {
  height: 826px;
  width: 1370px;
  margin-left: 230px;
}
.header .cover {
  position: relative;
}
.header .cover__left {
  width: 723px;
  height: 833px;
  background-color: #F1EADC;
  float: right;
  position: relative;
}
.header .cover__left .main {
  padding-left: 50px;
  padding-top: 120px;
}
.header .cover__left .foto1 {
  position: absolute;
  left: 370px;
  top: 243px;
}
.header .cover__left .foto2 {
  position: absolute;
  bottom: 0;
  left: -77px;
}
.header .menu {
  position: absolute;
  display: flex;
  width: 1100px;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  height: 28px;
  top: 54px;
}
.header .menu .nav {
  display: flex;
  padding: 0;
  margin-left: 65px;
}
.header .menu .nav__item {
  list-style-type: none;
  padding-right: 45px;
}
.header .menu .nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.header .menu .telefon a {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #000;
}
.header .menu .logo {
  display: flex;
  align-items: center;
}
.header .menu .logo h1 {
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #000000;
  padding-left: 15px;
}
.header .shop {
  position: absolute;
  top: 265px;
  left: 230px;
  width: 563px;
}
.header .shop .info {
  height: 385px;
}
.header .shop .info .text-top {
  font-size: 55px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.02em;
}
.header .shop .info .text-center {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: right;
  width: 380px;
  line-height: 28px;
  padding-top: 42px;
  margin-left: 3px;
}
.header .shop .info .button {
  padding-top: 51px;
  margin-left: 71px;
  display: flex;
}
.header .shop .info .button a {
  background-color: #6E9C9F;
  color: #ffffff;
  padding: 25px 50px;
  text-decoration: none;
  letter-spacing: 0.05em;
}
.header .shop .info .button .arrow {
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 21px;
  background: rgba(30, 231, 246, 0.15);
}

.section-new {
  margin-left: 230px;
}
.section-new .new h1 {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 92px;
}
.section-new .new .kat {
  display: flex;
  justify-content: space-between;
}
.section-new .new .kat .foto2, .section-new .new .kat .foto3 {
  width: 350px;
  height: 558px;
  text-align: center;
}
.section-new .new .kat .foto2 h2, .section-new .new .kat .foto3 h2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}
.section-new .new .kat .foto2 .cena, .section-new .new .kat .foto3 .cena {
  font-size: 15px;
  font-weight: 500;
  color: #998E78;
  padding-top: 7px;
}
.section-new .new .kat .foto2 .cena span, .section-new .new .kat .foto3 .cena span {
  text-decoration: line-through;
}
.section-new .new .kat .foto1 {
  width: 350px;
  height: 558px;
  text-align: center;
}
.section-new .new .kat .foto1 .img1 {
  background-image: url("../img/usa.png");
  height: 478px;
}
.section-new .new .kat .foto1 h2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}
.section-new .new .kat .foto1 .cena {
  font-size: 15px;
  font-weight: 500;
  color: #998E78;
  padding-top: 7px;
}
.section-new .new .kat .foto1 .cena span {
  text-decoration: line-through;
}
.section-new .new .kat .img2 {
  height: 478px;
}
.section-new .new .kat .img2::after {
  background: rgba(110, 156, 159, 0.77);
  z-index: 1;
}
.section-new .new .kat .img3 {
  background-image: url("../img/shot.png");
  height: 478px;
}

/*# sourceMappingURL=style.css.map */
