@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  width: 1600px;
}

.wrap {
  width: 1110px;
}

.menu-top {
  position: fixed;
  z-index: 1;
  background: transparent;
  width: 100%;
  align-items: center;
  display: flex;
  height: 127px;
}
.menu-top .menu {
  display: flex;
  width: 1340px;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  height: 28px;
  padding-left: 230px;
}
.menu-top .menu .nav {
  display: flex;
  padding: 0;
  margin-left: 50px;
}
.menu-top .menu .nav__item {
  list-style-type: none;
  padding-right: 45px;
}
.menu-top .menu .nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.menu-top .menu .telefon {
  display: flex;
}
.menu-top .menu .telefon a {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #000;
}
.menu-top .menu .logo {
  display: flex;
  align-items: center;
}
.menu-top .menu .logo h1 {
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #000000;
  padding-left: 15px;
}

.header {
  height: 826px;
  width: 1370px;
  margin-left: 230px;
}
.header .cover {
  position: relative;
}
.header .cover__left {
  width: 723px;
  height: 833px;
  background-color: #F1EADC;
  float: right;
  position: relative;
}
.header .cover__left .main {
  padding-left: 50px;
  padding-top: 120px;
}
.header .cover__left .foto1 {
  position: absolute;
  left: 370px;
  top: 243px;
}
.header .cover__left .foto2 {
  position: absolute;
  bottom: 0;
  left: -77px;
}
.header .shop {
  position: absolute;
  top: 265px;
  left: 230px;
  width: 563px;
  height: 561px;
}
.header .shop .info {
  height: 385px;
}
.header .shop .info .text-top {
  font-size: 55px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.02em;
}
.header .shop .info .text-center {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: right;
  width: 380px;
  line-height: 28px;
  padding-top: 42px;
  margin-left: 3px;
}
.header .shop .info .button {
  padding-top: 51px;
  margin-left: 71px;
  display: flex;
}
.header .shop .info .button a {
  background-color: #6E9C9F;
  color: #ffffff;
  padding: 25px 50px;
  text-decoration: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.header .shop .info .button a:hover {
  background: #509498;
}
.header .shop .info .button .arrow {
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 21px;
  background: rgba(30, 231, 246, 0.15);
}
.header .shop .pag1 {
  bottom: 50px;
  left: 41px;
}
.header .shop .pag1 .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 0;
  background: #857e7e;
}
.header .shop .pag1 .swiper-pagination-bullet-active {
  background: #1B1B1B;
}

.section-new {
  margin-left: 227px;
  margin-top: 133px;
}
.section-new .new {
  text-align: center;
  letter-spacing: 0.05em;
}
.section-new .new h1 {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 92px;
  text-align: left;
}
.section-new .new .kat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.section-new .new .kat .foto2, .section-new .new .kat .foto3 {
  width: 350px;
  height: 558px;
  text-align: center;
}
.section-new .new .kat .foto2 h2, .section-new .new .kat .foto3 h2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}
.section-new .new .kat .foto2 .cena, .section-new .new .kat .foto3 .cena {
  font-size: 15px;
  font-weight: 500;
  color: #998E78;
  padding-top: 11px;
}
.section-new .new .kat .foto2 .cena span, .section-new .new .kat .foto3 .cena span {
  text-decoration: line-through;
}
.section-new .new .kat .foto1 {
  width: 350px;
  height: 558px;
  text-align: center;
}
.section-new .new .kat .foto1 .img1 {
  height: 478px;
}
.section-new .new .kat .foto1 h2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}
.section-new .new .kat .foto1 .cena {
  font-size: 15px;
  font-weight: 500;
  color: #998E78;
  padding-top: 11px;
}
.section-new .new .kat .foto1 .cena span {
  text-decoration: line-through;
}
.section-new .new .kat .foto1 .img1 {
  position: relative;
  display: inline-block;
}
.section-new .new .kat .foto1 .img1 .text {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FFFFFF;
  background: rgba(110, 156, 159, 0.77);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}
.section-new .new .kat .foto1 .img1 .go {
  padding: 0;
  border: none;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  background: none;
}
.section-new .new .kat .foto1 .img1:hover .text {
  visibility: visible;
  opacity: 1;
}
.section-new .new .kat .foto2 .img2 {
  position: relative;
  display: inline-block;
}
.section-new .new .kat .foto2 .img2 .text {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FFFFFF;
  background: rgba(110, 156, 159, 0.77);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}
.section-new .new .kat .foto2 .img2 .go {
  padding: 0;
  border: none;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  background: none;
}
.section-new .new .kat .foto2 .img2:hover .text {
  visibility: visible;
  opacity: 1;
}
.section-new .new .kat .foto3 .img3 {
  height: 478px;
}
.section-new .new .kat .foto3 .img3 {
  position: relative;
  display: inline-block;
}
.section-new .new .kat .foto3 .img3 .text {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FFFFFF;
  background: rgba(110, 156, 159, 0.77);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}
.section-new .new .kat .foto3 .img3 .go {
  padding: 0;
  border: none;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  background: none;
}
.section-new .new .kat .foto3 .img3:hover .text {
  visibility: visible;
  opacity: 1;
}
.section-new .new a {
  border: 1px solid #6e9c9f;
  padding: 22px 50px;
  text-decoration: none;
  color: #6e9c9f;
  transition: 0.5s;
}
.section-new .new a:hover {
  color: #FFFFFF;
  background: #6e9c9f;
}

.section-important {
  margin-left: 227px;
  margin-top: 152px;
}
.section-important .important .us {
  display: flex;
  margin-top: 92px;
}
.section-important .important .us .quality {
  flex-basis: 35%;
}
.section-important .important .us .quality .icon {
  background-image: url("../img/kach.png");
  width: 60px;
  height: 61px;
  margin-bottom: 37px;
}
.section-important .important .us .quality h2 {
  padding-bottom: 28px;
  font-size: 25px;
}
.section-important .important .us .quality p {
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 500;
}
.section-important .important .us .speed {
  flex-basis: 35%;
  margin-left: 15px;
}
.section-important .important .us .speed .icon {
  background-image: url("../img/speed.png");
  width: 60px;
  height: 63px;
  margin-bottom: 37px;
}
.section-important .important .us .speed h2 {
  padding-bottom: 25px;
  font-size: 25px;
}
.section-important .important .us .speed p {
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 500;
}
.section-important .important .us .Respons {
  flex-basis: 35%;
}
.section-important .important .us .Respons .icon {
  background-image: url("../img/ruk.png");
  width: 60px;
  height: 63px;
  margin-bottom: 37px;
  margin-left: 17px;
  margin-top: -3px;
}
.section-important .important .us .Respons h2 {
  padding-bottom: 28px;
  font-size: 25px;
  padding-left: 16px;
}
.section-important .important .us .Respons p {
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 500;
  padding-left: 15px;
}
.section-important .important h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.section-team {
  margin-left: 230px;
  margin-top: 147px;
  margin-bottom: 130px;
}
.section-team h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 90px;
}
.section-team .dreams {
  display: flex;
  align-items: center;
}
.section-team .dreams .team {
  position: relative;
  width: 729px;
}
.section-team .dreams .team .teams {
  width: 729px;
}
.section-team .dreams .team .teams .teams1, .section-team .dreams .team .teams .teams2, .section-team .dreams .team .teams .teams3 {
  background-image: url("../img/team.png");
  height: 488px;
}
.section-team .dreams .team .teams .pag {
  bottom: 55px;
}
.section-team .dreams .team .teams .pag .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.67);
}
.section-team .dreams .team .teams .pag .swiper-pagination-bullet-active {
  background: white;
}
.section-team .dreams .team .prev {
  width: 28px;
  height: 15px;
  background-image: url("../img/prev.png");
  left: -63px;
  top: 248px;
}
.section-team .dreams .team .prev::after {
  content: "f104";
  color: #F4B860;
}
.section-team .dreams .team .prev .fa-solid {
  color: #FFFFFF;
}
.section-team .dreams .team .next {
  width: 28px;
  height: 15px;
  background-image: url("../img/next.png");
  right: -58px;
  top: 248px;
}
.section-team .dreams .team .next::after {
  content: "f104";
  color: #FFFFFF;
}
.section-team .dreams .team .next .fa-solid {
  color: #FFFFFF;
}
.section-team .dreams .you {
  width: 255px;
  margin-left: 123px;
}
.section-team .dreams .you h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 28px;
}
.section-team .dreams .you p {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 25px;
}
.section-team .dreams .you a {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #6E9C9F;
  text-decoration: none;
}
.section-team .dreams .you a:hover {
  border-bottom: solid 1px #CEDEDF;
  transition: 0.5s;
}

.footer {
  background-color: #F1EADC;
  height: 363px;
  padding-left: 230px;
}
.footer .top {
  padding-top: 63px;
}
.footer .top .top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .top .top-nav .footer-logo {
  display: flex;
  height: 28px;
  align-items: center;
}
.footer .top .top-nav .footer-logo h1 {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 14px;
  letter-spacing: 0.1em;
}
.footer .top .top-nav .nav {
  display: flex;
  justify-content: space-between;
  padding-right: 117px;
}
.footer .top .top-nav .nav__item {
  list-style-type: none;
  padding-right: 45px;
}
.footer .top .top-nav .nav__link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}
.footer .contact {
  padding-top: 40px;
  text-align: right;
}
.footer .contact .tel {
  padding-bottom: 13px;
}
.footer .bottom {
  display: flex;
  padding-top: 20px;
}
.footer .bottom .avtor {
  margin-right: 140px;
}
.footer .bottom .avtor .autor {
  padding: 0;
}
.footer .bottom .avtor .autor__item {
  list-style-type: none;
}
.footer .bottom .avtor .autor__link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}
.footer .bottom .prod {
  margin: 0;
}
.footer .bottom .prod__item {
  list-style-type: none;
  padding-bottom: 8px;
}
.footer .bottom .prod__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.footer .bottom .ofer {
  margin-left: 557px;
  padding-top: 7px;
}
.footer .bottom .ofer .soc {
  padding-bottom: 25px;
}
.footer .bottom .ofer .soc a {
  padding-right: 7px;
}
.footer .bottom .ofer .visa {
  text-align: right;
  margin-left: 20px;
}

.hed {
  position: relative;
  height: 95px;
}

.section-magazin {
  margin-top: 160px;
}
.section-magazin .magazin {
  margin-left: 230px;
}
.section-magazin .magazin h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 61px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 10px;
}
.section-magazin .magazin .mag {
  padding: 0;
}
.section-magazin .magazin .mag__item {
  list-style-type: none;
  display: inline-block;
}
.section-magazin .magazin .mag__link {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}
.section-magazin .magazin .mag span {
  padding-left: 11px;
  padding-right: 10px;
}

.section-content .content {
  margin-left: 230px;
}
.section-content .content .cont {
  padding: 0;
}
.section-content .content .cont__item {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding-top: 19px;
  padding-right: 10px;
}
.section-content .content .cont__item:hover {
  border: none;
}
.section-content .content .cont__link {
  text-decoration: none;
  color: #000000;
  padding: 19px 65px;
  border: 1px solid;
}
.section-content .content .cont li:hover a {
  color: #FFFFFF;
  background-color: #000000;
}

/*# sourceMappingURL=style.css.map */
